<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='../css/bootstrap.min.css' type='text/css' media='all' />

    <title>BMS Display</title>

    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <div class="container">
        <div>
            <p id="p_exectime"></p>
        </div>
        <div>
	    <p id="p_soc"></p>
        </div>
        <div style="width: 50%">
            <canvas id="voltageChart" width="400" height="400"></canvas>
        </div>
        <div style="width: 50%">
            <canvas id="currentChart" width="400" height="400"></canvas>
        </div>
    </div>
    <script src="../js/jquery-3.3.1.min.js"</script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/chart.bundle.min.js"></script>
    <script src="../js/display.js"></script>
</body>

</html>
